<!DOCTYPE html>
<html ng-app="sgtApp">
<head>
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- JQuery AutoComplete plugin -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="ang.js"></script>
    <script src="controllers.js"></script>

    <link rel="stylesheet" href="style.css">

</head>
<body ng-controller="appController as ac">
    <div class="container">
        <!-- Header & Grade Average -->
        <div class="row">
            <div class="page-header">
                <!-- only show this element when it isn't on mobile -->
                <h1 class="hidden-xs">
                    Student Grade Table
                    <small class="pull-right">
                        Grade Average: &nbsp;
                    <span class="label label-default pull-right">
                        {{ac.calculateAverage()}}
                    </span>
                    </small>
                </h1>
                <!-- only show this element when the user gets to a mobile version -->
                <h3 class="visible-xs">
                    Student Grade Table
                    <small class="col-xs-12 text-right">
                        Grade Average:
                    <span class="avgGrade label label-default">
                        {{ac.calculateAverage()}}
                    </span>
                    </small>
                </h3>
            </div>
        </div>
        <div class="row">
            <!-- Add Student Data Form -->
            <!-- Full on mobile, align right on desktop -->
            <div role="form" class="col-xs-12 col-md-3 col-md-push-9"
                    ng-controller="formController as fc">
                <h4>
                    Add Student
                </h4>

                <!-- Name Input -->
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"> </span>
                        </span>
                        <input type="text" class="form-control" name="studentName"
                                placeholder="Student Name" ng-model="fc.newStudent.name">
                    </div>
                    <div class="text-danger valError" ng-show="fc.nameError;">
                        Enter student name of at least two characters.
                    </div>
                </div>
                <!-- Course Input -->
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-list-alt"> </span>
                        </span>
                        <input type="text" class="form-control" name="course"
                                placeholder="Student Course" ng-model="fc.newStudent.course">
                    </div>
                    <div class="text-danger valError" ng-show="fc.courseError;">
                        Enter course name of at least two characters.
                    </div>
                </div>
                <!-- Grade Input -->
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-education"> </span>
                        </span>
                        <input type="number" class="form-control" name="studentGrade"
                                placeholder="Student Grade" ng-model="fc.newStudent.grade">
                    </div>
                    <div class="text-danger valError" ng-show="fc.gradeError;">
                        Enter grade from 0 - 100.
                    </div>
                </div>
                <!-- Submit Buttons -->
                <button type="button" class="btn btn-success" ng-click="fc.addStudent()">
                    Add
                </button>
                <button type="button" class="btn btn-default"
                        ng-click="fc.resetForm();">
                    Cancel
                </button>
                <!-- hidden on small and x-small screen -->
                <button type="button" class="btn btn-primary hidden-sm hidden-xs"
                        ng-click="ac.reloadStudents();">
                    Reload Student Data
                </button>
                <!-- visible on small and x-small screen -->
                <button type="button" class="btn btn-primary visible-sm visible-xs pull-right"
                        ng-click="ac.reloadStudents();">
                    Reload Student Data
                </button>
                <p class="text-danger addError" ng-show="fc.addStudentError();">
                    Failed to Add Student <br> Please Try Again
                </p>
                <hr>
            </div>
            <!-- View Student Data -->
            <!-- Full on mobile, align left on desktop -->
            <div class="col-xs-12 col-md-9 col-md-pull-3" ng-controller="studentListController as sl">
                <p class="text-danger loadError" ng-show="sl.loadError()">
                    Student Data Failed to Load | Please Try Later
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th sort="name" ng-click="sl.sorting('name');">
                                <a href="">
                                    Student Name
                                    <span class="glyphicon glyphicon-triangle-top"
                                        ng-show="(sl.sortField != 'name')||
                                        (sl.sortField == 'name' && sl.reverseSort == false);">
                                    </span>
                                    <span class="glyphicon glyphicon-triangle-bottom"
                                        ng-show="(sl.sortField != 'name')||
                                        (sl.sortField == 'name' && sl.reverseSort == true);">
                                    </span>
                                </a>
                            </th>
                            <th sort="course" ng-click="sl.sorting('course');">
                                <a href="">
                                    Student Course
                                    <span class="glyphicon glyphicon-triangle-top"
                                        ng-show="(sl.sortField != 'course')||
                                        (sl.sortField == 'course' && sl.reverseSort == false);">
                                    </span>
                                    <span class="glyphicon glyphicon-triangle-bottom"
                                        ng-show="(sl.sortField != 'course')||
                                        (sl.sortField == 'course' && sl.reverseSort == true);">
                                    </span>
                                </a>
                            </th>
                            <th sort="grade" ng-click="sl.sorting('grade');">
                                <a href="">
                                    Student Grade
                                    <span class="glyphicon glyphicon-triangle-top"
                                        ng-show="(sl.sortField != 'grade')||
                                        (sl.sortField == 'grade' && sl.reverseSort == false);">
                                    </span>
                                    <span class="glyphicon glyphicon-triangle-bottom"
                                        ng-show="(sl.sortField != 'grade')||
                                        (sl.sortField == 'grade' && sl.reverseSort == true);">
                                    </span>
                                </a>
                            </th>
                            <th>
                                Operations
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-show="sl.studentData().length == 0">
                            <td colspan="4" class="loadImage">
                                <img src="images/loading.gif">
                            </td>
                        </tr>
                        <tr ng-repeat="student in sl.studentData() | orderBy: sl.sortField: sl.reverseSort;">
                            <td>{{student.name}}</td>
                            <td>{{student.course}}</td>
                            <td>{{student.grade}}</td>
                            <td>
                                <button type="button" class="btn btn-danger"
                                        ng-click="sl.deleteStudent($index)">
                                    Delete {{$index}}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="deleteError" ng-show="sl.deleteError();">
                    <p ng-if="sl.deleteError();" class="text-danger deleteErrorTxt">
                        Error: {{sl.errorMessage()}}
                        <button type="button" class="deleteErrorBtn" ng-click="ac.resetErrors();">
                            &times;
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

